.toc {
  .toc a {
    color: #333;
    text-decoration: none;
  }

  .toc a:hover {
    color: #007bff;
  }

  >h1 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
  }

  >hr {
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      color: #666;
      cursor: pointer;

      &:hover {
        color: #000;
      }
    }

    .tocLink {
      display: block;
      color: #333;
      text-decoration: none;
  
      &:hover {
        color: #007bff;
      }
    }

    .toc-h1 {
      font-weight: bold;
      font-size: 1.25rem;
    }

    .toc-h2 {
      padding-left: 1rem;
      font-weight: bold;
      font-size: 1.125rem;
    }

    .toc-h3 {
      padding-left: 2rem;
      font-weight: bold;
      font-size: 1rem;
    }

    .toc-h4 {
      padding-left: 3rem;
      font-size: 1rem;
    }
  }
}