// 导入字体
@font-face {
  font-family: 'Lucida Calligraphy';
  src: local('Lucida Calligraphy'),
      url('/fonts/LucidaCalligraphy-Italic.woff2') format('woff2'),
      url('/fonts/LucidaCalligraphy-Italic.woff') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: local('Noto Sans SC'),
      url('https://fonts.font.im/css2?family=Noto+Sans+SC');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

// 导入全局样式
@import './styles/global';