body {
  background-color: rgb(240, 240, 240);
}

.pageWrapper {
  min-height: 100vh;
}

// ToolbarContainer部分
.editorToolbarContainer {
  position: sticky;
  top: 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 10px 0;
  margin: 2px auto 10px;
  border-bottom: 1px solid var(--border-color-two);
  background-color: var(--gray-1);

  [data-theme='dark'] & {
    background-color: var(--gray-12);
  }

  // 添加滑动阴影效果
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 4px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
    pointer-events: none;
  }
}

// 编辑器容器
.editorContainer {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;

  [data-theme='dark'] & {
    background-color: var(--gray-9);
  }

  .contentContainer {
    padding: 1rem 1.5rem;
  }

  :global {
    .tiptap {
      // 移除默认的outline
      outline: none !important;
      border: none;
      min-height: calc(100vh - 320px);
      margin: 0px 0 20px;
      height: auto;
      overflow-y: auto;
      overflow: visible !important;

      [data-theme='dark'] & {
        background-color: var(--gray-9);
        color: var(--gray-6)
      }

      // 编辑区域样式
      p {
        margin-bottom: 0.5rem;
        line-height: 1.25;
      }

      h1,
      h2,
      h3 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        color: var(--heading-color);
      }

      // 自定义focus样式（可选）
      // &:focus {
      //   box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.1);
      // }
    }
  }

}

// 优化加载状态的样式
:global {
  .ant-spin-nested-loading {
    width: 100%;
  }

  .ant-spin {
    max-height: none;
  }
}

// 标题输入框
.titleContainer {
  margin-top: 10px;

  .titleInput {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    background-color: white;

    [data-theme='dark'] & {
      background-color: var(--gray-9);
      color: var(--gray-4)
    }
  }

  .titleDivider {
    border: 0;
    border-top: 1px solid var(--border-color-two);
    margin: 3px 0;
  }
}


// 额外信息区
.extraInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  border-top: 1px solid var(--border-color-two);

  .draftButton {
    margin-right: 10px;
    background-color: var(--button-background-color);
    border: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 128px;
    height: 32px;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.3s;

    &:hover:not(:disabled) {
      background-color: var(--button-background-color-hover);
      color: white;
    }

    &:disabled {
      background-color: var(--button-disabled-background);
      cursor: not-allowed;
    }
  }

  .draftInfo {
    font-size: 12px;
    color: #888;

    [data-theme='dark'] & {
      color: var(--gray-7)
    }
  }

  .submitButton {
    justify-self: center;
    width: 120px;
    height: 40px;
    padding: 8px 24px;
    background: var(--button-background-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background: #d9d9d9;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background: var(--button-background-color-hover);
    }
  }

  .miscInfo {
    color: gray;
    justify-self: end;

    [data-theme='dark'] & {
      color: var(--gray-6)
    }

    span:nth-of-child(2) {
      margin-left: 5px;
      font-size: 12px;
    }
  }

}


//
aside.fixedArea {
  position: fixed;
  top: 150px;
  right: calc(50% - 600px);
  width: 10rem;
  background-color: var(--background-color-light);
  border: 1.5px solid var(--border-color-two);
  border-radius: 10px;
  padding: 1rem;
  z-index: 99;

  :global(.ant-upload) {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 1 / 1;

    img {
      cursor: pointer;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    .chooseChannelButton {
      background-color: var(--button-background-color);
      color: white;
      padding: 0.5rem 1rem;
      margin: 0.5rem 0 0 0;
      width: 100%;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s, color 0.3s;
      z-index: 1;

      &:hover {
        background-color: var(--button-background-color-hover);
      }
    }
  }
}

// debug
.debugArea {
  display: flex;
  border: 1px solid #ccc;
  border-top: 1;
  padding: 10px;
  margin-top: 10px;
}

.controlsRight {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.stateTitle {
  color: #999;
  text-transform: uppercase;
}