.quickLogin {
  text-align: center;

  .welcomeText {
    margin-bottom: 16px;
    font-size: 14px;
    color: #666;
  }

  .socialLogin {
    display: flex;
    gap: 8px;

    button {
      background-color: var(--gray-1);

      [data-theme='dark'] & {
        background-color: var(--gray-8) !important;
      }
    }

    :global(.ant-btn:hover) {
      color: var(--button-text-color);
      border-color: var(--border-color);
      box-shadow: 2px 2px 2px 1px var(--border-color);
    }
  }
}