// 基础颜色定义，所有主题公用的

:root {
  --gray-1: hsl(0, 0%, 98.8%);
  --gray-2: hsl(0, 0%, 97.5%);
  --gray-3: hsl(0, 0%, 93.9%);
  --gray-4: hsl(0, 0%, 90.8%);
  --gray-5: hsl(0, 0%, 88%);
  --gray-6: hsl(0, 0%, 84.9%);
  --gray-7: hsl(0, 0%, 80.7%);
  --gray-8: hsl(0, 0%, 73.2%);
  --gray-9: hsl(0, 0%, 55.3%);
  --gray-10: hsl(0, 0%, 51.2%);
  --gray-11: hsl(0, 0%, 39.2%);
  --gray-11-dark: hsl(0, 0%, 25%);
  --gray-12: hsl(0, 0%, 12.5%);
  --gray-a1: rgba(0, 0, 0, 0.012);
  --gray-a2: rgba(0, 0, 0, 0.024);
  --gray-a3: rgba(0, 0, 0, 0.063);
  --gray-a4: rgba(0, 0, 0, 0.09);
  --gray-a5: rgba(0, 0, 0, 0.122);
  --gray-a6: rgba(0, 0, 0, 0.153);
  --gray-a7: rgba(0, 0, 0, 0.192);
  --gray-a8: rgba(0, 0, 0, 0.267);
  --gray-a9: rgba(0, 0, 0, 0.347);
  --gray-a10: rgba(0, 0, 0, 0.486);
  --gray-a11: rgba(0, 0, 0, 0.608);
  --gray-a12: rgba(0, 0, 0, 0.875);
}