.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--gray-2);
  [data-theme='dark'] & {
    background-color: var(--gray-11);
  }
}

.mainColumnContainer {
  width: 840px;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: var(--background-color);
  overflow: hidden;
  z-index: 1;

  :global(.ant-card-body) {
    padding: 0.75rem !important;
  }

}

#toggleButton {
  position: fixed;
  top: 50%;
  left: calc(50% + 400px + 25px); // 400为文章栏宽的1/2
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
}

.card {
  height: 11.5rem;

  .coverContainer {
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;

    .articleCover {
      display: block;
      width: 10rem;
      height: 10rem;
      margin-left: 5px;
      transform: scale(0.9); // 缩小到 0.8 倍
      transform-origin: center; // 设置缩放的中心点
      filter: contrast(95%) brightness(97%) saturate(150%); // 调整色彩
    }

  }

  >div {
    display: flex;
    padding: 20px !important;
    overflow: hidden;


  }

  span {
    overflow: hidden;
  }

  .articleInfo {
    width: calc(100% - 180px);
    height: 10rem;
    padding: 5px;
    margin-left: 50px;
    cursor: pointer;

    .articleMeta {
      height: 2rem !important;
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: var(--card-background-color);
    }

    :global(.ant-typography:first-of-type) {
      height: 3.5rem;
    }

    :global(.ant-typography-secondary) {
      height: 1.5rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      overflow: hidden;
      display: flex;
      align-items: center;
    }

    span {
      overflow: hidden;
    }

    .articleContent {
      color: rgb(61, 60, 60);
      margin-top: 0.5rem;
      margin-right: 1rem;
      max-height: 70px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.loadingCard {
  padding: 7px 20px;
}

/* 侧栏动画效果 */
/* CSSTransition 的 classNames 属性支持传入一个对象，指定各个动画阶段的模块化 CSS 类名 */
// CSSTransition 的动画原理就是在指定时刻添加添加类名和移除类名，通过 transition css属性达成平滑过渡，它并没有使用到 @keyframes
#asideContainer {
  * {
    transition: none;
  }
}

.sidebar {
  top: 50px;
  right: 0;
  width: 300px;
  background: #f4f4f4;
  border-radius: 10px;
  z-index: 0;

  [data-theme='dark'] & {
    background-color: var(--gray-11);
  }
}

.sidebarEnter {
  opacity: 0;
  transform: translateX(-100%) !important;
}

.sidebarEnterActive {
  opacity: 0.5;
  transform: translateX(-66%) !important;
  transition: transform 500ms ease-in-out !important;
}

.sidebarEnterDone {
  opacity: 1;
  transform: translateX(0) !important;
  transition: all 0.5s !important;
}

.sidebarExit {
  opacity: 1;
  transform: translateX(0) !important;
}

.sidebarExitActive {
  opacity: 0.5;
  transform: translateX(-66%) !important;
  transition: transform 500ms ease-in-out !important;
}

.sidebarExitDone {
  opacity: 0;
  transform: translateX(-100%) !important;
  transition: all 0.5s !important;
}
