.coverUpload {
  :global {
    .ant-upload {
      
      img {
        cursor: pointer;
        transition: opacity 0.3s;
        
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.uploaderPromptsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;

  svg {
    color: hsl(10, 75%, 50%);
    margin-right: 0.25rem;
  }
}